* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.detail-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}

.animal-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  overflow: hidden;
  color: #070606;
  background-color: #ffbd61;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  max-width: 1000px;
  
}

.animal-detail-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.4rem;
  gap: 1.4rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.715);
  border: 1px solid white;
  margin: 6px;
}

.animal-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 60%;
  gap: 12px;
}
.image-container {
  display: flex;
}


.animal-image {
  object-fit: cover;
  border-radius: 5%;
  border: 6px solid #ffffff;
  width: 100%;
  max-width: 320px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.animal-detail h2 {
  font-size: 3.4rem;
  color: #070606;
}

.animal-detail p {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: none;
  width: 100%;
}


.button-atras{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 6px 12px;
  font-size: 1.2rem;
  color: #000000;
  background-color: transparent ;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.button-atras:hover {
  border: 2px solid #ffffff;
  background-color: #00000076 ;
  color: #ffffff;
}

.button-atras:active {
  background-color: #222222;
  border-color: #ffffff;
}




@media (max-width: 768px) {
  .animal-detail-body {
    flex-direction: column;
  }

  .animal-detail-text {
    max-width: 100%;
  }

  html {
    font-size: 75%;
  }

}

