.scroll-to-top {
    position: fixed;
    bottom: 30px;
    left: 20px;
    padding: 10px 15px;
    background-color: #000000; /* Ajusta el color */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    z-index: 1000;
    display: none; /* Ocultar por defecto en pantallas grandes */
  }
  
  /* Mostrar el botón en pantallas pequeñas */
  @media (max-width: 768px) {
    .scroll-to-top {
      display: block;
    }
  }
  
  .scroll-to-top:hover {
    background-color: #ffbd61;
  }
  