.manage-user {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 20px;
  min-height: 100vh;
}

.manage-user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.manage-user h2 {
  font-size: 1.5rem;
  color: #ffffff; 
  margin: 0;
}

/* Users grid layout */
.users-grid-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item-admin {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.user-item-admin:last-child {
  border-bottom: none;
}

.user-item-admin:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-details-admin {
  flex: 1;
  margin-right: 20px;
  font-size: 0.9rem;
  color: #fcf9f9;
}

.user-name-admin {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d59432;
}

.user-info-admin {
  font-size: 1rem;
  color: #fcf9f9;
}

.status-button-admin {
  background-color: #333; 
  color: #fff; 
  border: 1px solid #444; 
  border-radius: 50px; 
  padding: 8px 16px; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}

.status-button-admin:hover {
  background-color: #555; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.pagination-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-admin button {
  background-color: #333; 
  color: #fff; 
  border: 1px solid #444; 
  border-radius: 50px; 
  padding: 8px 16px; 
  margin: 0 5px; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}

.pagination-admin button:hover {
  background-color: #555; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.pagination-admin button:disabled {
  background-color: #222; 
  color: #777; 
  border: 1px solid #333; 
  cursor: not-allowed;
}

.pagination-admin span {
  color: #fff; 
  font-size: 14px; 
  margin: 0 10px; 
  font-weight: 500; 
}

/* Status light styles */
.status-light-admin {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.status-available-admin {
  background-color: #28a745;
}

.status-inactive-admin {
  background-color: #dc3545;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .users-grid-admin {
    grid-template-columns: repeat(1, 1fr); /* 1 column on medium screens */
  }

  .manage-user-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .status-button-admin {
    padding: 6px 12px; /* Slightly smaller buttons */
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .users-grid-admin {
    grid-template-columns: repeat(1, 1fr); /* 1 column on small screens */
  }

  .manage-user {
    padding: 5px;
  }

  .manage-user h2 {
    font-size: 1.2rem; /* Smaller title */
  }

  .status-button-admin {
    padding: 5px 10px; /* Smaller buttons for mobile */
    font-size: 12px;
  }

  .user-item-admin {
    padding: 10px;
  }

  .pagination-admin {
    flex-direction: column; /* Stack pagination buttons vertically */
    align-items: center;
  }

  .pagination-admin button {
    margin: 5px 0;
    width: 100%; /* Full-width buttons on mobile */
  }
}

@media (max-width: 480px) {

  .pagination-admin span {
    font-size: 12px;
  }
}
