.about-container {
  background-image: url('https://i.imgur.com/v1io1jV.jpeg');
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.intro-aboutus {
  margin-bottom: 40px;
}

.intro-aboutus h1 {
  font-size: 3em;
  color: orange;
}

.intro-aboutus p {
  font-size: 1.5em;
  margin-top: 24px;
  color: #555;
}

.faq, .reviews {
  margin-bottom: 50px;
}

.faq h2, .reviews h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #000;
  border-bottom: 1px solid #878787;
  padding-bottom: 8px;
}

.faq ul, .reviews ul {
  list-style: none;
  padding: 0;
}

.faq li, .reviews li {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  transition: background-color 0.3s ease;
}

.faq li:hover, .reviews li:hover {
  background-color: white;
}

.faq strong, .reviews strong {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
  font-size: 1.8em;
}

.faq span, .reviews span {
  display: block;
  font-size: 1.5em;
  color: #000000;
}

.faq li:last-child, .reviews li:last-child {
  border-bottom: none;
}

.back-button-container {
  text-align: center;
  margin-top: 30px;
}

.back-button {
  padding: 10px 25px;
  background-color: #000;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 2em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #333;
  transform: scale(1.05);
}
