
.about-container {
  position: relative;
  overflow: hidden; 
  padding-top: 6vh; 
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5) 
    ), 
    url('https://i.imgur.com/v1io1jV.jpeg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.about-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/v1io1jV.jpeg'); /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.about-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.intro-aboutus {
  position: relative;  
  margin-bottom: 50px;
  font-size: 1.8em;
  text-align: center;
  color: #ffbd61; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: 'Poppins', sans-serif; 
}

.intro-aboutus h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: 'Poppins', sans-serif; 
}

.intro-aboutus p {
  font-size: 1em;
  margin-top: 10px;
  color: #ddd; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: 'Poppins', sans-serif; 
  margin: 9px;
}
.team {
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.team h2 {
  font-size: 2em;
  color: #ffbd61;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  gap: 20px;  
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  text-align: center;
}

.team-member img {
  width: 180px;  
  height: 180px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 10px;
  border: 5px solid #ffbd61;
}

.team-info h3 {
  font-size: 1.2em;
  color: #ffbd61; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
}

.team-info p {
  font-size: 1em;
  color: #ddd; 
  font-family: 'Poppins', sans-serif;
}

.faq {
  margin-bottom: 50px;
}

.faq h2 {
  font-size: 4em;
  margin-bottom: 20px;
  color: #faf7f7; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #211f1f;
  padding-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}

.faq ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.faq li {

  border-bottom: 1px solid #ddd;
  align-items: center;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif; 
}

.faq li:hover {
  background-color: #0000002f; 
}

.faq strong {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffbd61; 
  font-size: 1.8em;
  font-family: 'Poppins', sans-serif; 
  text-shadow: 2px 2px 5px rgba(50, 50, 50, 0.7);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.faq span {
  margin-left: auto;
  font-size: 1.5em;
  color: #ffffff; 
  line-height: 1.6; 
  text-align: left;
}

.caret {
  font-weight: 1;
  line-height: 1;
  font-size: 3rem;
}


   

.intro a:hover, .faq a:hover{
  background-color: #c3a86e6c; /* Fondo oscuro en hover */
  transform: scale(1.05);
}


.faq h2::before {
  content: '🐾';
  display: inline-block;
  margin-right: 8px;
  color: #fff; /* Color blanco */
}
