/* Navbar Styles */
.navbar {
  background-color: #000; /* Fondo negro para el navbar */
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.8em;
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Fuente aplicada */
  font-weight: 500; /* Medium weight */
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-input {
  width: 200px;
  padding: 10px;
  border: 0; 
  border-bottom: 1px solid #ffffffb9; 
  border-radius: 0; 
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500; 
  color: #fff; 
  background-color: transparent; 
  outline: none; 
  transition: border-color 0.3s ease; 
  margin-right: 5px; 
}

.navbar-search-input::placeholder {
  color: #ddd; 
}

.navbar-search-input:focus {
  border-bottom-color: #cac8c5; 
}

.navbar-search-button {
  padding: 10px;
  border-radius: 5px; 
  background-color: transparent; 
  color: #fff; 
  cursor: pointer;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  margin-left: 5px;  
}

.navbar-search-button:hover {
  background-color: #cac8c5;  
  color: #fff; 
}


.navbar-links a {
  font-family: 'Poppins', sans-serif;  
  font-weight: 500; 
  font-size: 1em;
  text-decoration: none;
  color: #fff; 
  padding: 10px 15px;
  transition: color 0.3s ease; 
}

.navbar-links a.active,
.navbar-links a:hover {
  color: #f0cd8a; 
}

/* Login */
.navbar-button {
  padding: 10px 20px;
  border-radius: 5px; 
  background-color: transparent; 
  color: #fff; 
  cursor: pointer;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500; 
  text-decoration: none; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar-button.active,
.navbar-button:hover {
  background-color: #cac8c5; 
  color: #fff;  
}
