/* Global reset and layout settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  flex-direction: column;
}

/* Navbar Styles */
.navbar {
  background-color: #0000007d;
  padding: 10px 15px;
  min-height: 65px;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.6em;
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-input {
  padding: 10px 0px 10px 10px;
  border: 0;
  border-bottom: 1px solid #e6e4e4b9;
  border-radius: 0;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 5px;
}

.navbar-search-input::placeholder {
  color: #fffefe;
}

.navbar-search-input:focus {
  border-bottom-color: #cac8c5;
}

.navbar-links {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.navbar-links div a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar-links a.active,
.navbar-links a:hover {
  color: #ffbd61;
}

/* Login */
.navbar-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: color 0.3s ease;
  background-color: transparent;
  border: transparent;
}

.navbar-button.active,
.navbar-button:hover {
  color: #ffbd61;
}

/* Estilos del botón de logout */
.logout-button {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #eaeaea;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff4c4c;
  color: #fff;
  border-color: #ff4c4c;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0 10px;
}

.navbar-options {
  display: flex;
  align-items: center;
}

/* Hide user-dashboard and cerrar-sesion in normal view */
.navbar-responsive-buttons {
  display: none;
}

.donate-button {
  background: none;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  transition: color 0.3s ease;
  text-decoration: none;
}

.donate-button:hover {
  color: #ffbd61;
}

.donation-input-container {
  top: 65px;
  background-color: #333333;
  padding: 15px;
  width: 25%;
  min-width: 250px;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.donation-input-container.animate-fade {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.3s ease-in-out;
}

.user-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  position: relative;
}

.user-dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.user-dropdown.animate-slide {
  opacity: 1;
  visibility: visible;
  animation: slideIn 0.3s ease-in-out;
}

.user-dropdown button {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
}

.user-dropdown button:hover {
  background-color: #444;
}

.user-dropdown button + button {
  margin-top: 10px;
}

.user-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* New styles for the no-responsive button */
.navbar-button-no-responsive {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: color 0.3s ease;
  background-color: transparent;
  border: transparent;
}

.navbar-button-no-responsive:hover {
  color: #ffbd61;
}

/* Hide the button in responsive view */
@media (max-width: 768px) {
  .navbar-button-no-responsive {
    display: none; /* Hide this button in responsive view */
  }
  
  /* Existing responsive styles for the navbar */
  .menu-icon {
    display: flex;
    cursor: pointer;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navbar-options {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    width: 200px;
    font-size: 1.6rem;
  }

  .navbar-options.active {
    display: flex;
    z-index: 5;
  }

  /* Show user-dashboard and cerrar-sesion in responsive view */
  .navbar-responsive-buttons {
    display: flex;
    flex-direction: column;
  }

  .navbar-responsive-buttons button {
    background: none;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slide {
  animation: slideIn 0.3s ease-out;
}

.animate-fade {
  animation: fadeIn 0.3s ease-in-out;
}
