.button {
    padding: 12px 24px;
    font-size: 16px;
    color: #000000;
    background-color: transparent ;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
  }
  
  .button:hover {
    border: 2px solid #ffffff;
    background-color: #00000076 ;
    color: #ffffff;
  }
  
  .button:active {
    background-color: #222222;
    border-color: #ffffff;
  }
  