.dashboard-display {
  flex-grow: 1;
  padding: 5px;
  height: calc(100vh - 60px); /* Adjust the height to occupy the full viewport, minus any header/footer */
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.1); /* Consistent with the palette */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
}

.manage-pets {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 20px;
}

.manage-pets h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ffffff; /* White header text */
}

.manage-pets ul {
  max-height: calc(100vh - 200px); /* Set maximum height for scrolling based on viewport height */
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.manage-pets li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 4px;
  transition: background-color 0.2s ease;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
}

.manage-pets li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.manage-pets li:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

.pet-details {
  flex: 1;
  margin-right: 20px;
  font-size: 0.9rem;
  color: #fcf9f9; /* White text for pet details */
}

.pet-photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%; /* Round images */
  margin-right: 15px;
  border: 2px solid #ffffff; /* White border */
}

.pet-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d59432; /* Accent color for pet names */
}

.pet-info {
  font-size: 1rem;
  color: #fcf9f9; /* White for pet info */
}

/* Button styling */
.delete-button,
.edit-buttons {
  padding: 5px 10px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent button */
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 10px;
}

.delete-button:hover,
.edit-buttons:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly brighter on hover */
}

.status-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly brighter on hover */
}

/* Scrollbar customization */
.dashboard-display::-webkit-scrollbar {
  width: 8px;
}

.dashboard-display::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* White scroll thumb */
  border-radius: 4px;
}

/* Status light styles */
.status-light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.status-available {
  background-color: #28a745; /* Green for available */
}

.status-inactive {
  background-color: #dc3545; /* Red for inactive or any other status */
}
