body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  color: #ddd;

}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; 
  padding: 20px;
  overflow: hidden; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/02/gatos-vs-perros-2238147.jpg?tf=3840x') no-repeat center center;
  background-size: cover;
  z-index: -1; 
}

.login-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.45); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.login-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 280px; 
  border-radius: 5px;
  border: 1px solid #ddd; 
}

.social-login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-login-button,
.facebook-login-button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  max-width: 280px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em; 
  transition: all 0.3s ease; 
}

.google-login-button {
  background-color: #db4537bf;
  color: white;
}

.google-login-button:hover {
  background-color: #c1351d; 
  transform: scale(1.05); 
}

.facebook-login-button {
  background-color: #3b5998;
  color: white;
}

.facebook-login-button:hover {
  background-color: #2d4373; 
  transform: scale(1.05); 
}

.login-links {
  margin-top: 15px;
}

.login-links a {
  color: #feffff;
  text-decoration: none;
  font-size: 0.9em; 
}

.login-links a:hover {
  text-decoration: underline;
}
.password-container {
  position: relative;
}

.login-input {
  padding-right: 40px; /* Ajusta el espacio para el ícono */

}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.eye-icon {
  stroke: #666666; 
  margin-top: -10px;
  width: 20px; 
  height: 20px; 
}
