.home-container {
  padding: 20px 20px 20px 20px; 
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('https://cloudfront-us-east-1.images.arcpublishing.com/infobae/N2GFBVR5PFF75OS4JH3XT4GU7A.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home-container h1 {
  font-size: 4rem;
  color: #fffafa;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.filter-controls {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: #fffafa;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-controls label {
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}


.reset-button:hover {
  color: #000000; 
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}


.reset-button {
  background-color: transparent; 
  color: #ffffff; 
  border: none; 
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px; 
  font-weight: 700; 
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration-color 0.3s ease; 
  margin: 0;
  margin-top: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.pagination button {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 50px;
  padding: 8px 16px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.pagination button:hover {
  background-color: #555;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pagination button:disabled {
  background-color: #222;
  color: #777;
  border: 1px solid #333;
  cursor: not-allowed;
}

.pagination span {
  color: #fff;
  font-size: 14px;
  margin: 0 10px;
  font-weight: 500;
}

/*  React Select */
.custom-select-container {
  width: 170px;
  margin:  20px;
}

.reviews h2 {
  font-size: 4rem;
  color: #fffafa;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}

.review-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
  gap: 30px; /* Espacio más pequeño entre las tarjetas */
  padding: 20px; /* Espaciado interno */
  justify-content: center; /* Centra las tarjetas en el contenedor */
}

.review-card {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se alineen verticalmente */
  background-color: rgba(255, 255, 255, 0.145);
  border: 2px solid #515151;
  border-radius: 12px;
  padding: 20px; /* Espaciado interno más pequeño */
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición */
  min-height: 250px;
}

.review-card:hover {
  transform: translateY(-5px); /* Elevación al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
}

.review-item {
  margin: 10px 0; /* Espaciado vertical entre elementos */
  display: flex;
  flex-direction: column; /* Alineación vertical */
  gap: 10px; /* Espacio entre los elementos dentro */
  height: 100%;
}

.review-name, .review-text, .review-rating {
  color: #ffbd61; 
  font-size: 20px; /* Tamaño de fuente reducido para mejor legibilidad */
  text-align: center; /* Centra el texto */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.text-content, .name-text {
  color: white;
  font-size: 18px; /* Tamaño de texto ajustado */
  margin-top: 5px;
  flex-direction: column;
}

@media (max-width: 768px) {
  .filter-controls {
    flex-direction: column;
  };
};

