.home-container {
  padding: 120px 20px 20px 20px; /* Ajusta el padding superior para la altura de la navbar */
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Capa negra semi-transparente */
  url('https://cloudfront-us-east-1.images.arcpublishing.com/infobae/N2GFBVR5PFF75OS4JH3XT4GU7A.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Capa blanca con 50% de opacidad */
  z-index: -1; /* Coloca la capa detrás del contenido */
}

.home-container h1 {
  font-size: 48px; 
  color: #fffafa;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  margin-bottom: 40px; 
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  font-weight: bold; 
}

.filter-controls {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: #fffafa;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-controls label {
  margin-right: 20px;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500; 
}

.reset-button {
  background-color: transparent; /* Fondo transparente */
  color: #a8a3a3; /* Color del ícono */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  padding: 8px; /* Espaciado interno del botón */
  font-size: 24px; /* Tamaño del ícono */
  cursor: pointer; /* Cursor de puntero al pasar sobre el ícono */
  transition: color 0.3s, background-color 0.3s; /* Transición suave para el color de fondo y texto */
  margin: -5px;
  margin-top: 16px;
}
.reset-button:hover {
  color: #ffffff; /* Color del ícono en hover */
  background-color: rgba(211, 47, 47, 0.5); /* Fondo gris transparente en hover */
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
}

.pagination span {
  align-self: center;
}
