body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* Medium */
  height: 100%;
}

.landing-container {
  background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/semana/7MFPFCOVFVCWNPKVINA6A6K6DY.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.landing-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad del 50% */
  z-index: 0; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

.landing-content {
  padding: 30px; /* Aumentado para mayor espacio */
  border-radius: 8px;
  color: white;
  max-width: 80%;
  margin-top: -10%;
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

.landing-title {
  font-size: 3rem; /* Tamaño de letra mayor para destacar el título */
  margin-bottom: 15px;
}

.subtext {
  font-size: 1.5rem; /* Tamaño de letra mayor para el subtítulo */
  margin-bottom: 20px;
}

.landing-buttons {
  display: flex;
  gap: 15px; /* Espaciado ajustado para los botones */
  justify-content: center;
}

.btn {
  text-decoration: none;
  color: #333; /* Color gris oscuro para el texto */
  padding: 12px 24px; /* Tamaño aumentado para los botones */
  border-radius: 20px;
  border: 2px solid #fff; /* Borde blanco */
  background-color: #fff; /* Fondo blanco */
  transition: all 0.3s ease;
  font-weight: 500; /* Medium */
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; /* Tamaño de fuente aumentado */
}

.btn-primary:hover {
  background-color: #f0f0f0; /* Fondo gris claro al pasar el ratón */
  color: #007BFF; /* Color del texto al pasar el ratón */
}

.btn-secondary:hover {
  background-color: #f0f0f0; /* Fondo gris claro al pasar el ratón */
  color: #28A745; /* Color del texto al pasar el ratón */
}
