.ss-select {
    border: 2px solid #090c10 !important;
    border-radius: 4px !important;
    
  }
 .ss-list {
    color: #ffffff !important; /* Color de texto semi-transparente */
    background-color: transparent !important; /* Fondo transparente para las opciones */
 }                                                       
  .ss-single {
    background-color: #04040400 !important;
    padding: 6px 10px;
    color: #fff !important; /* Color de texto blanco */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins aplicada */
    font-weight: 400; /* Peso de fuente Medium */
  }
  
  .ss-option {
    color: #ffffff !important; /* Color de texto semi-transparente */
    background-color: transparent !important; /* Fondo transparente para las opciones */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins aplicada */
    font-weight: 400; /* Peso de fuente Medium */
}
  
  .ss-option:hover {
    background-color: rgba(7, 5, 5, 0.2) !important; /* Fondo gris transparente en hover */
    color: #fff !important; /* Color del texto en hover */
  }
  .ss-selected {
    color: #000000 !important; /* Color del texto seleccionado */
  }
  
  /* Ocultar la barra de búsqueda en SlimSelect */
  .ss-content .ss-search {
    display: none !important;
  }
  .ss-main {
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    color: #fff; /* Color de texto blanco */
    min-height: var(--ss-main-height);
    width: 100%;
    padding: var(--ss-spacing-s);
    cursor: pointer;
    border: 1px solid var(--ss-border-color);
    border-radius: var(--ss-border-radius);
    background-color: rgba(238, 230, 230, 0.2); /* Fondo blanco con 20% de opacidad */
    outline: 0;
    box-sizing: border-box;
    transition: background-color var(--ss-animation-timing);
    overflow: hidden;
    font-family: 'Poppins', sans-serif; /* Fuente Poppins aplicada */
    font-weight: 500; /* Peso de fuente Medium */
}

.ss-main:hover {
    background-color: rgba(239, 231, 231, 0.696); /* Fondo gris transparente al pasar el cursor */
}
.ss-content.ss-open-below {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center top;
    border-bottom-left-radius: var(--ss-border-radius);
    border-bottom-right-radius: var(--ss-border-radius);
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con 20% de opacidad */
}